.box h3{
    color: red;
}

.box{
    width:20vw;
    height: 35vh;
    border: 5px solid blue;
    margin: 20px;
    padding: 10px;
    box-shadow: -10px -10px 15px rgba(0, 0, 255, 0.589);
}
#box-2{
  background-image: url(background\ image.jpg);
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  color: white
}
.new{
    font-weight: bolder;
    width: 500px;
    display: inline-block;
}